::-webkit-scrollbar {
	width: 0;
	height: 0;
	background-color: transparent;
} 
.uni-padding-wrap{
	width: 100%;padding: 0;
}
uni-swiper{
	.uni-swiper-dot{
		opacity: .5;
	}
	.uni-swiper-dot-active {
		opacity: 1;
	}
}
uni-tabbar {
	.uni-tabbar{box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
		.uni-tabbar-border{
			background-color: #e9ebee !important;
		}
	}
}
.status_bar {
	height: var(--status-bar-height);
	width: 100%;
}
.uni-page-head-transparent{
	.uni-page-head-btn{
		justify-content: center;
	}
}
.uni-page-head-search-input{height: 30px;
	.uni-input-input{line-height: 30px;}
}
.swiper-item{
	height: 100%;
}
.input-row{display: flex; flex-direction: row; justify-content: flex-start; align-items: center; position: relative; min-height: 100upx; background-color: #FFF; border-bottom: solid #EEE 0.05rem;
	.title{margin: 0 0 0 20upx; min-width: 150upx; display: flex; flex-direction: column; justify-content: center; color: #444; text-align: right;}
	.input_box{flex: 1; display: flex; flex-direction: row; justify-content: flex-start; align-items: center; padding: 0 11px;
		.ipt{flex: 1;}
	}
	.voli_code_ipt{flex: 1; margin: 0 20upx 0 0;}
	.voli_code_img{position: absolute; right: 220upx; top: 26upx; z-index: 2; width: 150upx; height: 60upx; overflow: hidden; font-size: 0;}
	.right_txt{margin: 0 0 0 30upx !important;}
}
.btn-row{margin: 30upx 5% 0;}
.action-row{display: flex; flex-direction: row; justify-content: center; margin: 30upx 30upx 0; color: #666;
	.split{margin: 0 20upx;}
}
.a{color: #F23030 !important;}
.b{font-weight: bold;}
.price{font-weight: bold; color: #e50335;}
.uni-tab-bar{
	.active{color: $uni-color-primary; border-bottom: solid 3px #F23030!important;}
}
.uni-tab-bar-loading{text-align: center;font-size: 28upx;color: #999;}
.uni-scroll-view>div{height: 100%;}
uni-toast{z-index: 100000;}
.tab_head{display: flex; flex-direction: row; justify-content: space-around; align-items: center; height: 100%;
	.swiper-tab-list{display: flex; flex-direction: column; justify-content: center; width: auto; height: 100%; line-height: 50px; font-size: 14px; color: #232326; border-bottom: 3px #fff solid;}
}
.search_box{display: flex; flex-direction: row; align-items: center; padding: 30upx 0; background: #fff;
	.input-box-all{flex: 1; padding: 0 0 0 15upx !important;}
	.input-box{ padding: 0 10px; height: 10vw; border: 1px solid #aaa; border-radius: 3px;}
	.date_picker{flex: 1; display: flex; align-items: center; margin: 0 0 0 20upx; line-height: 10vw; white-space: nowrap;}
	.btn{margin: 0 15upx; white-space: nowrap; width: 170upx; height: 10vw; line-height: 10vw; font-size: 35upx; }
}
.no-data{text-align: center;
	.no-img{width: 300upx; height: 300upx; margin: 0 auto 0.3rem;}
	.txt{color: #848689;}
}
.first_col{padding: 0 0 0 30upx;}
.pop{position: relative;
	.close_btn{position: absolute; right: 0; top: 0; z-index: 2; padding: 0; font-size: 60upx; font-weight: bold; background: none; color: #555;
		&:after{content: none;}
	}
	.con{min-height: 500upx;
		.img{display: flex; flex-direction: row;}
		.right_txt{margin: 0 0 0 30upx; display: flex; flex-direction: column; justify-content: flex-end;
			.unit{color: #8f8f94;}
		}
		.title{margin: 10px 0; color: #8f8f94;}
		.ls{display: flex; flex-direction: row; flex-wrap:wrap;
			.item{margin: 0 20upx 10upx 0; padding: 10upx; background: #f6f6f6; color: #616161; white-space: nowrap; border: .5px solid white;
				&.cur{color: red; border-color: red; font-weight: bold;}
			}
		}
	}
}

.index{
	height: 1500px;
}
.index_page{
	.uni-product-title{display: flex; flex-direction: row; justify-content: space-between; width: 330upx;
		.uni-icon{margin: 0 0 0 10upx; color: #ff7e00;}
	}
	.uni-product{
		.image-view{border: 1px #ccc solid;}
	}
}
.cart_ls{position: relative; display: flex; flex-direction: column; justify-content: center; width: 100%; height: 100%; text-align: center;
	.uni-list{margin: 0 2% 160upx; width: 96%; background: transparent;
		&:before{content: none;}
		&:after{content: none;}
	}
	.uni-list-cell{margin: 10px 0 0; background: #fff;
		&:after{content: none;}
		&.uni-list-cell-hover{background: #eee;}
	}
	.radio{display: flex; flex-direction: column; justify-content: center;}
	.uni-media-list-logo{width: 200upx; height: 200upx;}
	.uni-media-list-body{height: auto;
		.uni-media-list-text-top{text-align: left;}
		.uni-media-list-text-bottom{display: flex; flex-direction: row; justify-content: space-between;
			.num{width: 220upx; height: 60upx; display: flex; flex-direction: row; justify-content: space-between;
				.btn{padding: 0; width: 60upx; line-height: 60upx; text-align: center;}
				.ipt{flex: 1; margin:0 6upx; height: 56upx; border: 2upx #999 solid; border-radius: 3px; 
					.uni-input-input{width: 100%; height: 56upx; line-height: 56upx; color: #333;}
				}
			}
		}
	}
	.result{position: absolute; bottom: 0; left: 0; z-index: 2; width: 100%; height: 100upx; background: #fff; display: flex; flex-direction: row; box-shadow: 0px 1px 3px 1px #ddd;
		.radio{width: 200upx; display: flex; flex-direction: row; justify-content: center; align-items: center;}
		.count{flex: 1; display: flex; flex-direction: row; justify-content: flex-start; align-items: center;}
		.btn{margin: 10upx 20upx 10upx 0; padding: 0 20upx; font-size: 30upx; height: 80upx; line-height: 80upx;}
	}
}
.product_detail{position: relative; width: 100%; height: 100%; display: flex; flex-direction: column;
	.price{font-size: 40upx;
		.sub{font-size: 20upx;}
		&.flex{display: flex; align-items: center;}
	}
	.old_price{margin: 0 20upx 0 0; font-size: 20upx; text-decoration: line-through; color: #999;
		.sub{font-size: 12px;}
	}
	.top{height: 42px; line-height: 42px; font-size: 34upx; text-align: center; background: #fff;
		.txt{margin: 0 20upx;}
		.cur{font-weight: bold;}
	}
	.center{flex: 1; overflow: hidden;}
	.swiper{height: 400upx;}
	.intro{margin: 20upx; padding: 10px 20upx; background: #fff; color: #777;
		.title{font-size: 35upx; font-weight: bold; color: #333;}
	}
	.uni-list{margin: 0 20upx 20upx; width: calc(100% - 40upx);}
	.menu_txt{flex: 1; display: flex; flex-direction: row; align-items: center;
		.title{display: flex; flex-direction: row; color: #777; margin:0 10upx 0 0;}
		.sub_txt{display: block; font-size: 36upx; font-weight: bold; color: #333;}
	}
	.detail{min-height: 1500upx; text-align: center;
		.title{font-size: 30upx;}
	}
	.result{position: absolute; bottom: 0; left: 0; z-index: 2; width: 100%; height: 100upx; background: #fff; display: flex; flex-direction: row; justify-content: flex-end; box-shadow: 0px 1px 3px 1px #ddd;
		.btn{margin: 10upx 20upx 10upx 0; font-size: 30upx; height: 80upx; line-height: 80upx;}
		.btn_yellow{background: linear-gradient(to right, rgb(255, 126, 0), rgb(255, 188, 0)); color: #fff;}
	}
	.num_box{display: flex; flex-direction: row; justify-content: space-between;}
	.num{width: 220upx; height: 60upx; display: flex; flex-direction: row; justify-content: space-between;
		.btn{width: 150upx; line-height: 60upx; text-align: center;}
		.ipt{height: 60upx; line-height: 60upx; text-align: center;}
	}
}
.order{height: 100%; background: #fff;
	.tab_head{display: block;
		.swiper-tab-list{display: inline-block; padding: 0 30upx; width: auto;}
	}
	.no-data{display: flex; flex-direction: column; justify-content: center; height: calc(100% - 150upx); text-align: center;}
	.list{
		.box{padding: 10px 0; height: calc(100% - 160upx); background: #f5f5f5;
			.ls_item{display: flex; flex-direction: column; margin: 0 15upx 10px; padding: 10px 0; background: #fff;
				.ls_item_top{display: flex; flex-direction: row;
					.img{margin: 0 15upx; width: 35%;}
					.title{flex: 1; margin: 0 15upx;}
					.status{display: flex; flex-direction: column; align-items: flex-end; margin: 0 15upx; color: rgb(255, 80, 0);}
				}
				.ls_item_center{margin: 0 0 5px; padding: 0 15upx 0 0; text-align: right; color: #333;
					.count{margin: 0 15upx 0 0; color: #666;
						&:last-child{margin: 0;}
					}
				}
				.ls_item_bottom{display: flex; flex-direction: row; justify-content: flex-end; border-top: 1px rgb(248, 248, 248) solid; padding: 10px 0 0;
					.btn{margin: 0 15upx 0 0; height: 30px; line-height: 30px; font-size: 30upx;}
				}
				&:last-child{margin-bottom: 0;}
			}
		}
	}
}
.create_order{
	.uni-list-cell-navigate{
		padding: 20upx;
	}
	.menu_txt{flex: 1; display: flex; flex-direction: column; background: #fff; border-radius: 4px; border-bottom: 3px solid #ff0036; padding: 10px;
		.title{flex: 1; display: flex; flex-direction: row;}
		.uni-icon{margin: 0 20upx 0 0;}
		.txt{display: block;}
		.sub_txt{display: block; font-size: 20upx; color: #444;}
	}
	.uni-list{margin: 0 20upx 20upx; width: calc(100% - 40upx);
		.uni-list-cell{
			&:after{right: 16px;}
			.uni-media-list-logo{width: 180upx; height: 180upx;}
			.uni-media-list-body{height: 180upx;
				.uni-media-list-text-top{font-size: 22upx; font-weight: bold;}
				.sub_txt{font-weight: normal;}
			}
			.uni-list-cell-navigate{font-size: 22upx;}
		}
		&.count{
			.uni-list-cell{
				&:after{left: 0; right: 0;}
			}
		}
	}
	.result{position: absolute; bottom: 0; left: 0; z-index: 2; width: 100%; height: 100upx; background: #fff; display: flex; flex-direction: row; box-shadow: 0px 1px 3px 1px #ddd;
		.count{margin: 0 0 0 20upx; flex: 1; display: flex; flex-direction: row; justify-content: flex-start; align-items: center;}
		.btn{margin: 10upx 20upx 10upx 0; font-size: 30upx; height: 80upx; line-height: 80upx;}
	}
}
.order_detail{display: flex; flex-direction: column; height: 100%; position: relative;
	.top{position: relative;
		.con{position: absolute; left: 60upx; right: 60upx; top: 20%; color: #fff; font-size: 35upx; font-weight: bold;}
	}
	.center{flex: 1; overflow: hidden;}
	.uni-list-cell-navigate{
		padding: 20upx;
	}
	.menu_txt{flex: 1; display: flex; flex-direction: column;
		.title{flex: 1; display: flex; flex-direction: row;}
		.uni-icon{margin: 0 20upx 0 0;}
		.txt{display: block;}
		.sub_txt{display: block; font-size: 20upx;}
	}
	.uni-list{z-index: 1; margin: 0 20upx 20upx; width: calc(100% - 40upx);
		.uni-list-cell{
			&:after{right: 16px;}
			.uni-media-list-logo{width: 180upx; height: 180upx;}
			.uni-media-list-body{height: 180upx;
				.uni-media-list-text-top{font-size: 22upx; font-weight: bold;}
				.sub_txt{font-weight: normal;}
			}
			.uni-list-cell-navigate{font-size: 22upx;}
		}
		&.count{
			.uni-list-cell{
				&:after{left: 0; right: 0;}
			}
		}
	}
	.empty{height: 100upx;}
	.result{position: absolute; bottom: 0; left: 0; z-index: 2; width: 100%; height: 100upx; background: #fff; display: flex; flex-direction: row; justify-content: flex-end; box-shadow: 0px 1px 3px 1px #ddd;
		.btn{margin: 10upx 20upx 10upx 0; font-size: 30upx; height: 80upx; line-height: 80upx;}
	}
}
.pay_order{height: 100%; background: #fff;
	.tab_head{display: block;
		.swiper-tab-list{display: inline-block; padding: 0 30upx; width: auto;}
	}
	.no-data{display: flex; flex-direction: column; justify-content: center; height: calc(100% - 150upx); text-align: center;}
	.list{
		.box{padding: 10px 0; height: calc(100% - 160upx); background: #f5f5f5;
			.ls_item{display: flex; flex-direction: column; margin: 0 15upx 10px; padding: 10px 0; background: #fff;
				.count{margin: 0 0 0 15upx;}
				.gray{margin: 0 5px 0 0; color: #666;}
				.mgl10{margin: 0 0 0 20upx;}
				.ls_item_top{display: flex; flex-direction: row;
					.title{flex: 1; margin: 0 0 0 15upx;}
					.status{display: flex; flex-direction: column; align-items: flex-end; margin: 0 15upx; color: rgb(255, 80, 0);}
				}
				.ls_item_center{margin: 0 0 5px; padding: 0 15upx 0 0; text-align: right; color: #333;}
				.ls_item_bottom{display: flex; flex-direction: row; justify-content: flex-end; border-top: 1px rgb(248, 248, 248) solid; padding: 10px 0 0;
					.btn{margin: 0 15upx 0 0; height: 30px; line-height: 30px; font-size: 30upx;}
				}
				&:last-child{margin-bottom: 0;}
			}
		}
	}
}
.quit_order{height: 100%; background: #fff;
	.no-data{display: flex; flex-direction: column; justify-content: center; height: 100%; text-align: center;}
	.list{
		.box{padding: 10px 0; height: calc(100% - 160upx); background: #f5f5f5;
			.ls_item{display: flex; flex-direction: column; margin: 0 15upx 10px; padding: 10px 0; background: #fff;
				.count{margin: 0 0 0 15upx;}
				.gray{margin: 0 5px 0 0; color: #666;}
				.mgl10{margin: 0 0 0 20upx;}
				.ls_item_top{display: flex; flex-direction: row;
					.title{flex: 1; margin: 0 0 0 15upx;}
					.status{display: flex; flex-direction: column; align-items: flex-end; margin: 0 15upx; color: rgb(255, 80, 0);}
				}
				.ls_item_center{margin: 0 0 5px; padding: 0 15upx 0 0; text-align: right; color: #333;}
				.ls_item_bottom{display: flex; flex-direction: row; justify-content: flex-end; border-top: 1px rgb(248, 248, 248) solid; padding: 10px 0 0;
					.btn{margin: 0 15upx 0 0; height: 30px; line-height: 30px; font-size: 30upx;}
				}
				&:last-child{margin-bottom: 0;}
			}
		}
	}
}
.create_pay_order{height: 100%; background: #fff;
	.search_box{flex: 1; margin: 0 20upx 0 0;}
	.pay_type{display: flex; flex-direction: row; justify-content: space-between; flex-wrap: wrap;}
	.input-box-all{flex: 1;}
	.txt{margin: 0 15upx;}
	.date_box{border: none !important;}
	.box{height: calc(100vh - 200upx); overflow-y: hidden;
		.input-row{
			&:last-child{border: none;}
		}
		.protocal{margin: 0 0 0 200upx;}
	}
	.result{position: absolute; bottom: 0; left: 0; z-index: 2; width: 100%; height: 100upx; background: #fff; box-shadow: 0px 1px 3px 1px #ddd;
		.btn{margin: 10upx 20upx; font-size: 30upx; height: 80upx; line-height: 80upx; font-size: 32upx; font-weight: bold;}
	}
}
.login_top{display: flex; flex-direction: row;
	.return_btn{width: 80upx; font-size: 30upx; display: flex; flex-direction: column; justify-content: center; text-align: center;}
	.login_title{background: none; border: none;
		&:after{content: none;}
	}
}
.user{display: flex; flex-direction: column; height: 100%;
	.top{position: relative;
		.login_box{position: absolute; left: 0; top: 0; z-index: 2; width: 100%; height: 100%;
			.login_con{display: flex; flex-direction: row; justify-content: center; align-items: center; height: 100%;
				.head_img{margin: 0 0 0 50upx; width: 125upx; height: 125upx; overflow: hidden; border: 5upx solid #ce4165; border-radius: 100%;}
				.txt{flex: 1; display: flex; flex-direction: row; padding: 0 0 0 20upx; font-size: 30upx; color: #fff;
					.navigator-hover{border-radius: 10px;}
					.word{display: block; padding: 5px 15upx; font-size: 34upx;}
					.split{margin: 5px 10upx;}
					.user_info{flex: 1; display: flex; flex-direction: column; justify-content: space-between; align-content: center; padding: 0 0 0 20upx; font-size: 30upx; color: #fff;
						.user_name{font-size: 40upx;}
					}
					.uni-icon{padding: 0 40upx; display: flex; flex-direction: column; justify-content: center; font-size: 70upx;}
				}
			}
		}
		.bg{font-size: 0;}
	}
	.menu_txt{flex: 1; display: flex; flex-direction: column; position: relative;
		.title{flex: 1; display: flex; flex-direction: row;}
		.uni-icon{margin: 0 20upx 0 0;}
		.txt{display: block;}
		.sub_txt{display: block; font-size: 20upx; color: #888;}
		.uni-badge{position: absolute; right: 20upx; top: 5px;}
	}
	.btn_box{display: flex; flex-direction: row; justify-content: space-around; flex-wrap:wrap; margin: 20upx 0; padding:20uxp; background: #fff; line-height: 60upx;
		.btn{margin: 10upx 20upx; text-align: center; color: #666;}
	}
	.uni-list{flex: 1;}
	.logout_btn{margin: 10px 30upx;
		.btn{padding: 0 20upx; font-size: 30upx; height: 80upx; line-height: 80upx;}
	}
}
.baseInfo{height: 100%;
	.con{height: 100%; overflow: hidden;}
	.input-row{
		.info{flex: 1; display: flex; flex-direction: column; justify-content: center; margin: 0 0 0 20upx; line-height: 1.2; word-break:break-all; word-wrap: break-word;
			&.input_box{height: 60upx; border: 1px #ccc solid;}
		}
	}
	.primary{margin: 0 0 20upx;}
}
.bonus{height: 100%; background: #fff;
	.search_box{padding: 30upx; background: #fff;}
	.con{display: flex; flex-direction: column; justify-content: center; height: 88%; background: #fff;}
	.list{height: 88%;}
	.box{background: #fff;}
}
.stock{height: 100%;
	.con{display: flex; flex-direction: column; justify-content: center; height: 100%; background: #fff;}
	.box{background: #fff;
		.t-th{padding: 26upx 5upx;
			.first_col{padding: 0 0 0 10upx;}
		}
	}
}
.my_subordinate_info{height: 100%; background: #fff;
	.con{display: flex; flex-direction: column; justify-content: center; height: 88%;}
}
.addr_ls{display: flex; flex-direction: column; height: 100%;
	.con{flex: 1; display: flex; flex-direction: column; justify-content: center; height: 100%;}
	.ls{height: 100%;
		.ls_item{display: block; margin:0 0 20upx; background: #fff;
			.ls_item_top{display: flex; flex-direction: row; padding: 20upx 0 0 20upx;
				.img{margin: 0 10px; width: 35%;}
				.title{flex: 1;}
				.status{display: flex; flex-direction: column; align-items: flex-end; margin: 0 10px; color: rgb(255, 80, 0);}
			}
			.ls_item_center{margin: 0 0 5px; padding: 0 10px 20upx 20upx; color: #333;
				.count{margin: 0 10px 0 0; color: #666;
					&:last-child{margin: 0;}
				}
			}
			.ls_item_bottom{display: flex; flex-direction: row; justify-content: flex-end; border-top: 1px solid #eee; padding: 10px 0 20upx;
				.btn{margin: 0 10px 0 0; height: 30px; line-height: 30px; font-size: 30upx;}
			}
			&:last-child{margin-bottom: 0;}
		}
	}
	.add_btn{margin: 10px 5%;}
}
.add_addr{display: flex; flex-direction: column; height: 100%;
	.con{flex: 1;}
	.add_btn{margin: 10px 5%;}
}